<section class="bg-linear-to-b from-base-300 to-base-100 py-4 md:py-16">
  <div class="max-w-4xl mx-auto px-4 text-center">
    <img
      src="/logo.svg"
      alt="Elterninitiative Sichere Schulwege Wilhelmsburg"
      class="h-60 md:h-80 mx-auto mb-8"
    />
    <h1 class="text-3xl md:text-5xl font-bold text-primary leading-tight">
      Sicher zur Schule<br />
      zu Fuß, mit Rad & Bus<br />in Wilhelmsburg.
    </h1>
  </div>
</section>
